/*
* Deze file is een notitieblokje van de extra opdracht. Hier gaf ik met comments aan wat ik andrs zou doen.
* Op het put van maken had ik nog niet echt bepaald veel kennis met SCSS, dus het zijn relatief basic verbeteringen.
*/
body * {
  box-sizing: border-box; }


.container {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto; }
  @media screen and (max-width: 576px) {
    
    .container {
      width: 540px; } }
  @media screen and (max-width: 768px) {
    
    .container {
      width: 720px; } }
  @media screen and (max-width: 992px) {
    
    .container {
      width: 960px; } }
  @media screen and (max-width: 1200px) {
    
    .container {
      width: 1140px; } }
  @media screen and (max-width: 1400px) {
    
    .container {
      width: 1320px; } }


.container-fluid {
  width: 100%; }

.row,
.col,
[class^='col-'],
[class^=' col-'] {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap; }
  .row.fd-ror,
  .col.fd-ror,
  [class^='col-'].fd-ror,
  [class^=' col-'].fd-ror {
    flex-direction: row-reverse; }
  .row.fd-col,
  .col.fd-col,
  [class^='col-'].fd-col,
  [class^=' col-'].fd-col {
    flex-direction: column; }
  .row.fd-colr,
  .col.fd-colr,
  [class^='col-'].fd-colr,
  [class^=' col-'].fd-colr {
    flex-direction: column-reverse; }
  .row.align-left,
  .col.align-left,
  [class^='col-'].align-left,
  [class^=' col-'].align-left {
    justify-content: flex-start; }
  .row.align-right,
  .col.align-right,
  [class^='col-'].align-right,
  [class^=' col-'].align-right {
    justify-content: flex-end; }
  .row.align-top,
  .col.align-top,
  [class^='col-'].align-top,
  [class^=' col-'].align-top {
    align-content: flex-start; }
  .row.align-bottom,
  .col.align-bottom,
  [class^='col-'].align-bottom,
  [class^=' col-'].align-bottom {
    align-content: flex-end; }
  .row.nowrap,
  .col.nowrap,
  [class^='col-'].nowrap,
  [class^=' col-'].nowrap {
    flex-wrap: nowrap; }

.col,
[class^='col-'],
[class^=' col-'] {
  width: 100%;
  padding: .5rem; }


.col-1 {
  width: calc(100%/12); }

@media screen and (max-width: 576px) {
  
  .col-s-1 {
    width: calc(100%/12); } }

@media screen and (min-width: 768px) and (max-width: 768px) {
  
  .col-m-1 {
    width: calc(100%/12); } }

@media screen and (min-width: 992px) and (max-width: 992px) {
  
  .col-l-1 {
    width: calc(100%/12); } }

@media screen and (min-width: 1200px) and (max-width: 1200px) {
  
  .col-xl-1 {
    width: calc(100%/12); } }

@media screen and (min-width: 1400px) {
  
  .col-xxl-1 {
    width: calc(100%/12); } }


.col-2 {
  width: calc(100%/6); }

@media screen and (max-width: 576px) {
  
  .col-s-2 {
    width: calc(100%/6); } }

@media screen and (min-width: 768px) and (max-width: 768px) {
  
  .col-m-2 {
    width: calc(100%/6); } }

@media screen and (min-width: 992px) and (max-width: 992px) {
  
  .col-l-2 {
    width: calc(100%/6); } }

@media screen and (min-width: 1200px) and (max-width: 1200px) {
  
  .col-xl-2 {
    width: calc(100%/6); } }

@media screen and (min-width: 1400px) {
  
  .col-xxl-2 {
    width: calc(100%/6); } }


.col-3 {
  width: calc(100%/4); }

@media screen and (max-width: 576px) {
  
  .col-s-3 {
    width: calc(100%/4); } }

@media screen and (min-width: 768px) and (max-width: 768px) {
  
  .col-m-3 {
    width: calc(100%/4); } }

@media screen and (min-width: 992px) and (max-width: 992px) {
  
  .col-l-3 {
    width: calc(100%/4); } }

@media screen and (min-width: 1200px) and (max-width: 1200px) {
  
  .col-xl-3 {
    width: calc(100%/4); } }

@media screen and (min-width: 1400px) {
  
  .col-xxl-3 {
    width: calc(100%/4); } }


.col-4 {
  width: calc(100%/3); }

@media screen and (max-width: 576px) {
  
  .col-s-4 {
    width: calc(100%/3); } }

@media screen and (min-width: 768px) and (max-width: 768px) {
  
  .col-m-4 {
    width: calc(100%/3); } }

@media screen and (min-width: 992px) and (max-width: 992px) {
  
  .col-l-4 {
    width: calc(100%/3); } }

@media screen and (min-width: 1200px) and (max-width: 1200px) {
  
  .col-xl-4 {
    width: calc(100%/3); } }

@media screen and (min-width: 1400px) {
  
  .col-xxl-4 {
    width: calc(100%/3); } }


.col-5 {
  width: calc(100%/2.4); }

@media screen and (max-width: 576px) {
  
  .col-s-5 {
    width: calc(100%/2.4); } }

@media screen and (min-width: 768px) and (max-width: 768px) {
  
  .col-m-5 {
    width: calc(100%/2.4); } }

@media screen and (min-width: 992px) and (max-width: 992px) {
  
  .col-l-5 {
    width: calc(100%/2.4); } }

@media screen and (min-width: 1200px) and (max-width: 1200px) {
  
  .col-xl-5 {
    width: calc(100%/2.4); } }

@media screen and (min-width: 1400px) {
  
  .col-xxl-5 {
    width: calc(100%/2.4); } }


.col-6 {
  width: calc(100%/2); }

@media screen and (max-width: 576px) {
  
  .col-s-6 {
    width: calc(100%/2); } }

@media screen and (min-width: 768px) and (max-width: 768px) {
  
  .col-m-6 {
    width: calc(100%/2); } }

@media screen and (min-width: 992px) and (max-width: 992px) {
  
  .col-l-6 {
    width: calc(100%/2); } }

@media screen and (min-width: 1200px) and (max-width: 1200px) {
  
  .col-xl-6 {
    width: calc(100%/2); } }

@media screen and (min-width: 1400px) {
  
  .col-xxl-6 {
    width: calc(100%/2); } }


.col-7 {
  width: calc(100%/1.71429); }

@media screen and (max-width: 576px) {
  
  .col-s-7 {
    width: calc(100%/1.71429); } }

@media screen and (min-width: 768px) and (max-width: 768px) {
  
  .col-m-7 {
    width: calc(100%/1.71429); } }

@media screen and (min-width: 992px) and (max-width: 992px) {
  
  .col-l-7 {
    width: calc(100%/1.71429); } }

@media screen and (min-width: 1200px) and (max-width: 1200px) {
  
  .col-xl-7 {
    width: calc(100%/1.71429); } }

@media screen and (min-width: 1400px) {
  
  .col-xxl-7 {
    width: calc(100%/1.71429); } }


.col-8 {
  width: calc(100%/1.5); }

@media screen and (max-width: 576px) {
  
  .col-s-8 {
    width: calc(100%/1.5); } }

@media screen and (min-width: 768px) and (max-width: 768px) {
  
  .col-m-8 {
    width: calc(100%/1.5); } }

@media screen and (min-width: 992px) and (max-width: 992px) {
  
  .col-l-8 {
    width: calc(100%/1.5); } }

@media screen and (min-width: 1200px) and (max-width: 1200px) {
  
  .col-xl-8 {
    width: calc(100%/1.5); } }

@media screen and (min-width: 1400px) {
  
  .col-xxl-8 {
    width: calc(100%/1.5); } }


.col-9 {
  width: calc(100%/1.33333); }

@media screen and (max-width: 576px) {
  
  .col-s-9 {
    width: calc(100%/1.33333); } }

@media screen and (min-width: 768px) and (max-width: 768px) {
  
  .col-m-9 {
    width: calc(100%/1.33333); } }

@media screen and (min-width: 992px) and (max-width: 992px) {
  
  .col-l-9 {
    width: calc(100%/1.33333); } }

@media screen and (min-width: 1200px) and (max-width: 1200px) {
  
  .col-xl-9 {
    width: calc(100%/1.33333); } }

@media screen and (min-width: 1400px) {
  
  .col-xxl-9 {
    width: calc(100%/1.33333); } }


.col-10 {
  width: calc(100%/1.2); }

@media screen and (max-width: 576px) {
  
  .col-s-10 {
    width: calc(100%/1.2); } }

@media screen and (min-width: 768px) and (max-width: 768px) {
  
  .col-m-10 {
    width: calc(100%/1.2); } }

@media screen and (min-width: 992px) and (max-width: 992px) {
  
  .col-l-10 {
    width: calc(100%/1.2); } }

@media screen and (min-width: 1200px) and (max-width: 1200px) {
  
  .col-xl-10 {
    width: calc(100%/1.2); } }

@media screen and (min-width: 1400px) {
  
  .col-xxl-10 {
    width: calc(100%/1.2); } }


.col-11 {
  width: calc(100%/1.09091); }

@media screen and (max-width: 576px) {
  
  .col-s-11 {
    width: calc(100%/1.09091); } }

@media screen and (min-width: 768px) and (max-width: 768px) {
  
  .col-m-11 {
    width: calc(100%/1.09091); } }

@media screen and (min-width: 992px) and (max-width: 992px) {
  
  .col-l-11 {
    width: calc(100%/1.09091); } }

@media screen and (min-width: 1200px) and (max-width: 1200px) {
  
  .col-xl-11 {
    width: calc(100%/1.09091); } }

@media screen and (min-width: 1400px) {
  
  .col-xxl-11 {
    width: calc(100%/1.09091); } }


.col-12 {
  width: calc(100%/1); }

@media screen and (max-width: 576px) {
  
  .col-s-12 {
    width: calc(100%/1); } }

@media screen and (min-width: 768px) and (max-width: 768px) {
  
  .col-m-12 {
    width: calc(100%/1); } }

@media screen and (min-width: 992px) and (max-width: 992px) {
  
  .col-l-12 {
    width: calc(100%/1); } }

@media screen and (min-width: 1200px) and (max-width: 1200px) {
  
  .col-xl-12 {
    width: calc(100%/1); } }

@media screen and (min-width: 1400px) {
  
  .col-xxl-12 {
    width: calc(100%/1); } }
