body * {
  box-sizing: border-box; }


.container {
  width: 100%;
  margin: 0 auto; }
  @media screen and (min-width: 320px) {
    
    .container {
      width: 300px; } }
  @media screen and (min-width: 576px) {
    
    .container {
      width: 550px; } }
  @media screen and (min-width: 768px) {
    
    .container {
      width: 730px; } }
  @media screen and (min-width: 992px) {
    
    .container {
      width: 940px; } }
  @media screen and (min-width: 1200px) {
    
    .container {
      width: 1140px; } }
  @media screen and (min-width: 1400px) {
    
    .container {
      width: 1330px; } }


.container-fluid {
  width: 100%; }

.row,
.col,
[class^='col-'],
[class^=' col-'] {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap; }
  .row.fd-ror,
  .col.fd-ror,
  [class^='col-'].fd-ror,
  [class^=' col-'].fd-ror {
    flex-direction: row-reverse; }
  .row.fd-col,
  .col.fd-col,
  [class^='col-'].fd-col,
  [class^=' col-'].fd-col {
    flex-direction: column; }
  .row.fd-colr,
  .col.fd-colr,
  [class^='col-'].fd-colr,
  [class^=' col-'].fd-colr {
    flex-direction: column-reverse; }
  .row.jc-start,
  .col.jc-start,
  [class^='col-'].jc-start,
  [class^=' col-'].jc-start {
    justify-content: flex-start; }
  .row.jc-end,
  .col.jc-end,
  [class^='col-'].jc-end,
  [class^=' col-'].jc-end {
    justify-content: flex-end; }
  .row.jc-center,
  .col.jc-center,
  [class^='col-'].jc-center,
  [class^=' col-'].jc-center {
    justify-content: center; }
  .row.jc-between,
  .col.jc-between,
  [class^='col-'].jc-between,
  [class^=' col-'].jc-between {
    justify-content: space-between; }
  .row.jc-around,
  .col.jc-around,
  [class^='col-'].jc-around,
  [class^=' col-'].jc-around {
    justify-content: space-around; }
  .row.jc-evenly,
  .col.jc-evenly,
  [class^='col-'].jc-evenly,
  [class^=' col-'].jc-evenly {
    justify-content: space-evenly; }
  .row.js-initial,
  .col.js-initial,
  [class^='col-'].js-initial,
  [class^=' col-'].js-initial {
    justify-content: inherit; }
  .row.ac-start,
  .col.ac-start,
  [class^='col-'].ac-start,
  [class^=' col-'].ac-start {
    align-content: flex-start; }
  .row.ac-end,
  .col.ac-end,
  [class^='col-'].ac-end,
  [class^=' col-'].ac-end {
    align-content: flex-end; }
  .row.ac-center,
  .col.ac-center,
  [class^='col-'].ac-center,
  [class^=' col-'].ac-center {
    align-content: center; }
  .row.ac-between,
  .col.ac-between,
  [class^='col-'].ac-between,
  [class^=' col-'].ac-between {
    align-content: space-between; }
  .row.ac-around,
  .col.ac-around,
  [class^='col-'].ac-around,
  [class^=' col-'].ac-around {
    align-content: space-around; }
  .row.ac-evenly,
  .col.ac-evenly,
  [class^='col-'].ac-evenly,
  [class^=' col-'].ac-evenly {
    align-content: space-evenly; }
  .row.ac-initial,
  .col.ac-initial,
  [class^='col-'].ac-initial,
  [class^=' col-'].ac-initial {
    align-content: inherit; }
  .row.ac-stretch,
  .col.ac-stretch,
  [class^='col-'].ac-stretch,
  [class^=' col-'].ac-stretch {
    align-content: stretch; }
  .row.ai-start,
  .col.ai-start,
  [class^='col-'].ai-start,
  [class^=' col-'].ai-start {
    align-items: flex-start; }
  .row.ai-end,
  .col.ai-end,
  [class^='col-'].ai-end,
  [class^=' col-'].ai-end {
    align-items: flex-end; }
  .row.ai-center,
  .col.ai-center,
  [class^='col-'].ai-center,
  [class^=' col-'].ai-center {
    align-items: center; }
  .row.ai-initial,
  .col.ai-initial,
  [class^='col-'].ai-initial,
  [class^=' col-'].ai-initial {
    align-items: inherit; }
  .row.ai-stretch,
  .col.ai-stretch,
  [class^='col-'].ai-stretch,
  [class^=' col-'].ai-stretch {
    align-items: stretch; }
  .row.ai-base,
  .col.ai-base,
  [class^='col-'].ai-base,
  [class^=' col-'].ai-base {
    align-items: baseline; }
  .row.align-left,
  .col.align-left,
  [class^='col-'].align-left,
  [class^=' col-'].align-left {
    justify-content: flex-start; }
  .row.align-right,
  .col.align-right,
  [class^='col-'].align-right,
  [class^=' col-'].align-right {
    justify-content: flex-end; }
  .row.align-top,
  .col.align-top,
  [class^='col-'].align-top,
  [class^=' col-'].align-top {
    align-content: flex-start; }
  .row.align-bottom,
  .col.align-bottom,
  [class^='col-'].align-bottom,
  [class^=' col-'].align-bottom {
    align-content: flex-end; }
  .row.nowrap,
  .col.nowrap,
  [class^='col-'].nowrap,
  [class^=' col-'].nowrap {
    flex-wrap: nowrap; }

.col,
[class^='col-'],
[class^=' col-'] {
  width: 100%;
  padding: .5rem; }


.col-1 {
  width: calc(100%/12); }

@media screen and (min-width: 320px) {
  
  .col-xs-1 {
    width: calc(100%/12); } }

@media screen and (min-width: 576px) {
  
  .col-s-1 {
    width: calc(100%/12); } }

@media screen and (min-width: 768px) {
  
  .col-m-1 {
    width: calc(100%/12); } }

@media screen and (min-width: 992px) {
  
  .col-l-1 {
    width: calc(100%/12); } }

@media screen and (min-width: 1200px) {
  
  .col-xl-1 {
    width: calc(100%/12); } }

@media screen and (min-width: 1400px) {
  
  .col-xxl-1 {
    width: calc(100%/12); } }


.col-2 {
  width: calc(100%/6); }

@media screen and (min-width: 320px) {
  
  .col-xs-2 {
    width: calc(100%/6); } }

@media screen and (min-width: 576px) {
  
  .col-s-2 {
    width: calc(100%/6); } }

@media screen and (min-width: 768px) {
  
  .col-m-2 {
    width: calc(100%/6); } }

@media screen and (min-width: 992px) {
  
  .col-l-2 {
    width: calc(100%/6); } }

@media screen and (min-width: 1200px) {
  
  .col-xl-2 {
    width: calc(100%/6); } }

@media screen and (min-width: 1400px) {
  
  .col-xxl-2 {
    width: calc(100%/6); } }


.col-3 {
  width: calc(100%/4); }

@media screen and (min-width: 320px) {
  
  .col-xs-3 {
    width: calc(100%/4); } }

@media screen and (min-width: 576px) {
  
  .col-s-3 {
    width: calc(100%/4); } }

@media screen and (min-width: 768px) {
  
  .col-m-3 {
    width: calc(100%/4); } }

@media screen and (min-width: 992px) {
  
  .col-l-3 {
    width: calc(100%/4); } }

@media screen and (min-width: 1200px) {
  
  .col-xl-3 {
    width: calc(100%/4); } }

@media screen and (min-width: 1400px) {
  
  .col-xxl-3 {
    width: calc(100%/4); } }


.col-4 {
  width: calc(100%/3); }

@media screen and (min-width: 320px) {
  
  .col-xs-4 {
    width: calc(100%/3); } }

@media screen and (min-width: 576px) {
  
  .col-s-4 {
    width: calc(100%/3); } }

@media screen and (min-width: 768px) {
  
  .col-m-4 {
    width: calc(100%/3); } }

@media screen and (min-width: 992px) {
  
  .col-l-4 {
    width: calc(100%/3); } }

@media screen and (min-width: 1200px) {
  
  .col-xl-4 {
    width: calc(100%/3); } }

@media screen and (min-width: 1400px) {
  
  .col-xxl-4 {
    width: calc(100%/3); } }


.col-5 {
  width: calc(100%/2.4); }

@media screen and (min-width: 320px) {
  
  .col-xs-5 {
    width: calc(100%/2.4); } }

@media screen and (min-width: 576px) {
  
  .col-s-5 {
    width: calc(100%/2.4); } }

@media screen and (min-width: 768px) {
  
  .col-m-5 {
    width: calc(100%/2.4); } }

@media screen and (min-width: 992px) {
  
  .col-l-5 {
    width: calc(100%/2.4); } }

@media screen and (min-width: 1200px) {
  
  .col-xl-5 {
    width: calc(100%/2.4); } }

@media screen and (min-width: 1400px) {
  
  .col-xxl-5 {
    width: calc(100%/2.4); } }


.col-6 {
  width: calc(100%/2); }

@media screen and (min-width: 320px) {
  
  .col-xs-6 {
    width: calc(100%/2); } }

@media screen and (min-width: 576px) {
  
  .col-s-6 {
    width: calc(100%/2); } }

@media screen and (min-width: 768px) {
  
  .col-m-6 {
    width: calc(100%/2); } }

@media screen and (min-width: 992px) {
  
  .col-l-6 {
    width: calc(100%/2); } }

@media screen and (min-width: 1200px) {
  
  .col-xl-6 {
    width: calc(100%/2); } }

@media screen and (min-width: 1400px) {
  
  .col-xxl-6 {
    width: calc(100%/2); } }


.col-7 {
  width: calc(100%/1.71429); }

@media screen and (min-width: 320px) {
  
  .col-xs-7 {
    width: calc(100%/1.71429); } }

@media screen and (min-width: 576px) {
  
  .col-s-7 {
    width: calc(100%/1.71429); } }

@media screen and (min-width: 768px) {
  
  .col-m-7 {
    width: calc(100%/1.71429); } }

@media screen and (min-width: 992px) {
  
  .col-l-7 {
    width: calc(100%/1.71429); } }

@media screen and (min-width: 1200px) {
  
  .col-xl-7 {
    width: calc(100%/1.71429); } }

@media screen and (min-width: 1400px) {
  
  .col-xxl-7 {
    width: calc(100%/1.71429); } }


.col-8 {
  width: calc(100%/1.5); }

@media screen and (min-width: 320px) {
  
  .col-xs-8 {
    width: calc(100%/1.5); } }

@media screen and (min-width: 576px) {
  
  .col-s-8 {
    width: calc(100%/1.5); } }

@media screen and (min-width: 768px) {
  
  .col-m-8 {
    width: calc(100%/1.5); } }

@media screen and (min-width: 992px) {
  
  .col-l-8 {
    width: calc(100%/1.5); } }

@media screen and (min-width: 1200px) {
  
  .col-xl-8 {
    width: calc(100%/1.5); } }

@media screen and (min-width: 1400px) {
  
  .col-xxl-8 {
    width: calc(100%/1.5); } }


.col-9 {
  width: calc(100%/1.33333); }

@media screen and (min-width: 320px) {
  
  .col-xs-9 {
    width: calc(100%/1.33333); } }

@media screen and (min-width: 576px) {
  
  .col-s-9 {
    width: calc(100%/1.33333); } }

@media screen and (min-width: 768px) {
  
  .col-m-9 {
    width: calc(100%/1.33333); } }

@media screen and (min-width: 992px) {
  
  .col-l-9 {
    width: calc(100%/1.33333); } }

@media screen and (min-width: 1200px) {
  
  .col-xl-9 {
    width: calc(100%/1.33333); } }

@media screen and (min-width: 1400px) {
  
  .col-xxl-9 {
    width: calc(100%/1.33333); } }


.col-10 {
  width: calc(100%/1.2); }

@media screen and (min-width: 320px) {
  
  .col-xs-10 {
    width: calc(100%/1.2); } }

@media screen and (min-width: 576px) {
  
  .col-s-10 {
    width: calc(100%/1.2); } }

@media screen and (min-width: 768px) {
  
  .col-m-10 {
    width: calc(100%/1.2); } }

@media screen and (min-width: 992px) {
  
  .col-l-10 {
    width: calc(100%/1.2); } }

@media screen and (min-width: 1200px) {
  
  .col-xl-10 {
    width: calc(100%/1.2); } }

@media screen and (min-width: 1400px) {
  
  .col-xxl-10 {
    width: calc(100%/1.2); } }


.col-11 {
  width: calc(100%/1.09091); }

@media screen and (min-width: 320px) {
  
  .col-xs-11 {
    width: calc(100%/1.09091); } }

@media screen and (min-width: 576px) {
  
  .col-s-11 {
    width: calc(100%/1.09091); } }

@media screen and (min-width: 768px) {
  
  .col-m-11 {
    width: calc(100%/1.09091); } }

@media screen and (min-width: 992px) {
  
  .col-l-11 {
    width: calc(100%/1.09091); } }

@media screen and (min-width: 1200px) {
  
  .col-xl-11 {
    width: calc(100%/1.09091); } }

@media screen and (min-width: 1400px) {
  
  .col-xxl-11 {
    width: calc(100%/1.09091); } }


.col-12 {
  width: calc(100%/1); }

@media screen and (min-width: 320px) {
  
  .col-xs-12 {
    width: calc(100%/1); } }

@media screen and (min-width: 576px) {
  
  .col-s-12 {
    width: calc(100%/1); } }

@media screen and (min-width: 768px) {
  
  .col-m-12 {
    width: calc(100%/1); } }

@media screen and (min-width: 992px) {
  
  .col-l-12 {
    width: calc(100%/1); } }

@media screen and (min-width: 1200px) {
  
  .col-xl-12 {
    width: calc(100%/1); } }

@media screen and (min-width: 1400px) {
  
  .col-xxl-12 {
    width: calc(100%/1); } }
